body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

