body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.test-section {
  min-height: 500px;
  background-color: limegreen;
  position: relative;
}

.my-div {
  margin: 0 auto;
  height: 100px;
  width: 500px;
  background-color: #ccc;
  position: absolute;
  left: calc(50% - 250px);
}
