ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav {
  position: relative;
}

.site-nav__list {
  display: flex;
  max-width: 600px;
  padding-top: 15px;
}

.site-nav__li {
  padding: 5px;
}

.site-nav__dropdown {
  position: absolute;
  background-color: #cccccc;
  padding-top: 10px;

  visibility: hidden;
  opacity: 0;

  transition: all .3s;
}

.site-nav__li--dropdown:hover .site-nav__dropdown {
  visibility: visible;
  opacity: 1;
}